.env.local
*.iml
*.ipr
*.iws
.idea
/next.config.js
/next-env.d.ts
/.babelrc
federation.config.json
/tsconfig.json
/tsconfig.server.json
node_modules
dist
/pages/
.next
/.shelf/
/types/**/aurora.d.ts
/types/graphql.d.ts
.nvmrc
.eslintrc.js
.eslintignore
.eslintcache
.prettierignore
.prettierrc.js
SDK.md
/babelModules.config.json
